<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Payment Histories-MHSN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Payment Histories</h1>

            <div class="d-flex justify-content-between"
                 th:if="${isUser != null and !#strings.isEmpty(isUser) and isUser}">
                <strong>**Your Current Balance: BDT-<span th:text="${user.balance}"></span>tk </strong>
                <a class="btn btn-success mb-3" th:href="@{/initiate-payment}">Pay Now</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-fixed table-striped" id="table">
                    <thead>
                    <tr>
                        <th class="text-center">User Name</th>
                        <th class="text-center">Email Address</th>
                        <th class="text-center">Payment Medium</th>
                        <th class="text-center">Payment Amount</th>
                        <th class="text-center">Sender Account</th>
                        <th class="text-center">Transaction Id</th>
                        <th class="text-center">Reference No</th>
                        <th class="text-center">Payment Date&Time</th>
                        <th class="text-center">Request Date&Time</th>
                        <th class="text-center">Payment Status</th>
                        <th class="text-center" style="width: 150px;"
                            th:if="${(isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin) or
                                    (isUser != null and !#strings.isEmpty(isUser) and isUser)}">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paymentHistory: ${paymentHistories}">
                        <td class="text-left" th:text="${paymentHistory.user.userName}"/>
                        <td class="text-left" th:text="${paymentHistory.user.email}"/>
                        <td class="text-left" th:text="${paymentHistory.paymentMedium}"/>
                        <td class="text-left" th:text="${paymentHistory.amount}"/>
                        <td class="text-left" th:text="${paymentHistory.senderAccount}"/>
                        <td class="text-left" th:text="${paymentHistory.transactionId}"/>
                        <td class="text-left" th:text="${paymentHistory.reference}"/>
                        <td class="text-left"
                            th:text="${paymentHistory.paymentDate} + ' on ' + ${paymentHistory.paymentTime}"/>
                        <td class="text-left"
                            th:text="${paymentHistory.requestDate} + ' on ' + ${paymentHistory.requestTime}"/>
                        <td class="text-left" th:text="${paymentHistory.paymentStatus}"/>
                        <td class="text-center" th:if="${(isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin) or
                                    (isUser != null and !#strings.isEmpty(isUser) and isUser)}">
                            <span th:if="${isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin and paymentHistory.paymentStatus != 'Approved'}">
                                <a class="btn btn-warning" role="button"
                                   th:href="@{/approve-balance-adding-request(id=${paymentHistory.id})}">
                                    Approve
                                </a>
                            </span>
                            <span th:if="${isUser != null and !#strings.isEmpty(isUser) and isUser and paymentHistory.paymentStatus != 'Approved'}">
                                <a class="btn btn-primary" role="button"
                                   th:href="@{/show-balance-adding-request-update-page(id=${paymentHistory.id})}">
                                    Edit Request
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="mt-3" th:href="@{/}">Back to Home</a>
        </div>
    </div>
    <!-- Bootstrap Toast for displaying error message -->
    <div aria-atomic="true" aria-live="assertive" class="toast"
         role="alert" style="position: absolute; top: 0; right: 0; margin-top: 80px; margin-right: 30px;"
         th:if="${error}">
        <div class="toast-header bg-dark">
            <strong class="mr-auto text-white">Error</strong>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-danger text-white" th:text="${error}"></div>
    </div>

    <!-- Bootstrap Toast for displaying success message -->
    <div aria-atomic="true" aria-live="assertive" class="toast"
         role="alert" style="position: absolute; top: 0; right: 0; margin-top: 50px; margin-right: 30px;"
         th:if="${success}">
        <div class="toast-header bg-dark">
            <strong class="mr-auto text-white">Success</strong>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-success text-white" th:text="${success}"></div>
    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [5, 10, 25, 50, 100]
        });

        $('.toast').toast({
            autohide: true,
            delay: 5000 // 5 seconds
        }).toast('show');
    });
</script>