<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>

<head>
    <title>Group Discussions-MHSN</title>
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Group Discussions</h1>
            <div th:if="${(isUser != null and !#strings.isEmpty(isUser) and isUser and discussion.user.id == userId)
                        or (isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin)
                        or (isTherapist != null and !#strings.isEmpty(isTherapist) and isTherapist)}">
                <a class="btn btn-success mb-3" th:href="@{/show-add-discussion-page}">Ask New Query</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-fixed table-striped" id="table">
                    <thead>
                    <tr>
                        <th class="text-center">Query Topic</th>
                        <th class="text-center" style="width: 150px;">Inquirer Name</th>
                        <th class="text-center" style="width: 150px;">Inquirer's Gender</th>
                        <th class="text-center" style="width: 200px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="discussion: ${discussionList}">
                        <td class="text-left" th:text="${discussion.queryTopic}"/>
                        <td class="text-left" th:text="${discussion.inquirerName}"/>
                        <td class="text-left" th:text="${discussion.inquirerGender}"/>
                        <td class="text-center">
                            <a class="btn btn-info" role="button"
                               th:href="@{/show-discussion-details(id=${discussion.id})}">
                                <i class="fas fa-eye"></i> <!-- View icon -->
                            </a>
                            <span th:if="${isUser != null and !#strings.isEmpty(isUser) and isUser and discussion.user.id == userId}">
                                <a class="btn btn-warning" role="button"
                                   th:href="@{/show-update-discussion-page(id=${discussion.id})}">
                                    <i class="fas fa-edit"></i> <!-- Edit icon -->
                                </a>
                            </span>
                            <span th:if="${(isUser != null and !#strings.isEmpty(isUser) and isUser and discussion.user.id == userId)
                                            or (isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin)}">
                                <a class="btn btn-danger" role="button"
                                   th:href="@{/discussion-delete(id=${discussion.id})}">
                                    <i class="fas fa-trash-alt"></i> <!-- Delete icon -->
                                </a>
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="mt-3" th:href="@{/}">Back to Home</a>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/common-scripts :: common-scripts"></div>


<script>
    $(document).ready(function() {
        $("#table").DataTable({
            'aoColumnDefs': [{
                'bSortable': true, // Enable sorting for all columns
                'aTargets': '_all', // Target all columns
            }],
            'order': [], // Disable initial sorting
            'orderCellsTop': true, // Show sorting icons in the header cells
            'language': {
                'paginate': {
                    'next': '<i class="fas fa-chevron-right"></i>', // Next page icon
                    'previous': '<i class="fas fa-chevron-left"></i>' // Previous page icon
                }
            }
        });
    });
</script>
</body>
</html>
