<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>

<head>
    <title>Profile-MHSN</title>
    <link href="css/profile.css" rel="stylesheet">

</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25" style="position: relative;">
                                            <img alt="User-Profile-Image"
                                                 class="img-radius"
                                                 src="https://img.icons8.com/bubbles/100/000000/user.png">
                                            <!--TODO: image should be imageUrl-->
                                            <br>
                                            <a class="update-image-link" th:href="@{/}">Update Image</a>
                                            <!--TODO: update imageUrl with userId-->
                                        </div>
                                        <h3 class="f-w-600" th:text="${user.userName}"></h3>
                                        <b>(<span th:text="${user.role}"></span>)</b>
                                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h3 class="m-b-20 p-b-5 b-b-default f-w-600">Profile Information</h3>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Email</p>
                                                <h6 class="text-muted f-w-400" th:text="${user.email}"></h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Mobile</p>
                                                <h6 class="text-muted f-w-400" th:text="${user.mobileNo}"></h6>
                                            </div>
                                        </div>
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Gender</p>
                                                <h6 class="text-muted f-w-400" th:text="${user.gender}"></h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Age</p>
                                                <h6 class="text-muted f-w-400" th:text="${user.age}"></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Address</p>
                                                <h6 class="text-muted f-w-400" th:text="${user.address}"></h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600"></p>
                                                <a class="btn btn-success mb-3"
                                                   th:href="@{/show-update-profile-page(id=${user.id})}">Update
                                                    Profile</a>
                                                <!--TODO: update user with userId-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/common-scripts :: common-scripts"></div>
</body>
</html>