<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>

<head>
    <title>Update User Profile-MHSN</title>
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Update User Profile</h1>
            <form method="POST" th:action="@{/update-profile}" th:object="${userToUpdate}">
                <!-- Fields for Normal User profile update -->

                <!-- Username -->
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input class="form-control" id="userName" placeholder="Enter your username" required
                           th:field="*{userName}" type="text">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" placeholder="Enter your email address" required
                           th:field="*{email}" type="email">
                </div>
                <!-- Age -->
                <div class="form-group">
                    <label for="age">Age</label>
                    <input class="form-control" id="age" placeholder="Enter your age" required th:field="*{age}"
                           type="number">
                </div>
                <!-- Mobile Number -->
                <div class="form-group">
                    <label for="mobileNo">Mobile Number</label>
                    <input class="form-control" id="mobileNo" placeholder="Enter your mobile number"
                           required th:field="*{mobileNo}" type="text">
                </div>
                <div class="form-group">
                    <label for="gender">Select Gender</label>
                    <select class="form-control" id="gender" required th:field="*{gender}">
                        <option th:value="Male">Male</option>
                        <option th:value="Female">Female</option>
                        <option th:value="Other">Other</option>
                    </select>
                </div>
                <!-- Address -->
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" id="address" placeholder="Enter your address" required
                           th:field="*{address}" type="text">
                </div>

                <input th:field="*{id}" th:value="${userToUpdate.id}" type="hidden"/>
                <button class="btn btn-primary" type="submit">Update</button>
            </form>

        </div>
    </div>


</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>