<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Video-MHSN</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Add New Video</h1>
            <form action="/submit-video" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="videoTopic">Video Topic</label>
                    <input class="form-control" id="videoTopic" name="videoTopic" placeholder="Enter Video Topic" required type="text">
                </div>
                <div class="form-group">
                    <label for="producerName">Producer Name</label>
                    <input class="form-control" id="producerName" name="producerName" placeholder="Enter Producer Name" required type="text">
                </div>
                <div class="form-group">
                    <label for="duration">Duration (in minutes)</label>
                    <input class="form-control" id="duration" name="duration" placeholder="Enter Duration" required type="number">
                </div>
                <div class="form-group">
                    <label for="videoFile">Video File</label>
                    <input accept=".mp3, .wav" class="form-control-file" id="videoFile" name="videoFile" required type="file">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-secondary ml-2" th:href="@{/show-video-list}">Cancel</a>
            </form>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
