<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>

<head>
    <title>Messages-MHSN</title>
    <link href="css/message.css" rel="stylesheet">


</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <div class="chat-container">
                <div class="chat-box" id="chatbox">
                    <div th:each="message: ${userTherapistMessageList}">
                        <!-- Check if the message sender is the current user -->
                        <div class="message-container" th:if="${message.sender.id == userId}">
                            <div class="sender-message">
                                <span th:text="${message.content}"></span>
                                <div class="time-stamp">
                                    <span th:text="${message.sentAt}"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Check if the message sender is the therapist -->
                        <div class="message-container" th:if="${message.sender.id != userId}">
                            <div class="receiver-message">
                                <span th:text="${message.content}"></span>
                                <div class="time-stamp">
                                    <span th:text="${message.sentAt}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Send New Message -->
                <div th:if="${(isUser != null and !#strings.isEmpty(isUser) and isUser)
                     or (isTherapist != null and !#strings.isEmpty(isTherapist) and isTherapist)}">
                    <form id="sendMessageForm" method="POST"
                          th:action="@{/new-message-save(receiverId = ${param.receiverId})}"
                          th:object="${userTherapistMessage}">
                        <div class="form-group chat-input-group">
                            <textarea class="user-input" id="userInput" placeholder="Type your message..."
                                      required th:field="*{content}"></textarea>
                            <button class="send-button" id="sendMessageBtn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <!-- Clear Chat and Refresh button -->
                <div class="d-flex justify-content-between"
                     th:if="${userTherapistMessageList != null and userTherapistMessageList.size() > 0}">
                    <a class="btn btn-warning mb-3" id="clearChatBtn"
                       th:href="@{/clear-messages(receiverId=${param.receiverId})}">
                        Clear Chat <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-info mb-3" id="refreshBtn"
                       th:href="@{/show-user-therapist-message-list(receiverId=${param.receiverId})}">
                        Refresh <i class="fas fa-sync-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#clearChatBtn').on('click', function () {
            if (confirm('Are you sure?')) {
                // Get the receiverId from the current URL
                const urlParams = new URLSearchParams(window.location.search);
                const receiverId = urlParams.get('receiverId');

                // Redirect to the clear-messages route with receiverId
                window.location.href = '/clear-messages?receiverId=' + receiverId;
            }
        });
    });
</script>
</body>
</html>
