<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>

<head>
    <title>Podcasts-MHSN</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>
<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Podcasts</h1>
            <div th:if="${isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin}">
                <a class="btn btn-success mb-3" th:href="@{/show-add-podcast-page}">Add New Podcast</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-fixed table-striped" id="table">
                    <thead>
                    <tr>
                        <th class="text-center">Podcast Topic</th>
                        <th class="text-center" style="width: 150px;">Producer Name</th>
                        <th class="text-center" style="width: 100px;">Uploaded On</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center" style="width: 150px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="podcast: ${podcastList}">
                        <td class="text-left" th:text="${podcast.podcastTopic}"/>
                        <td class="text-left" th:text="${podcast.producerName}"/>
                        <td class="text-left" th:text="${podcast.uploadedDate}"/>
                        <td class="text-left" th:text="${podcast.duration}"/>

                        <td class="text-center">
                            <a class="btn btn-primary" role="button"
                               target="_blank"
                               th:href="@{/podcasts/{podcastFileName}(podcastFileName=${podcast.podcastFileName})}">
                                <i class="fas fa-play"></i> Play
                            </a>
                            <span th:if="${isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin}">
                                <a class="btn btn-danger" role="button" th:href="@{/podcast-delete(id=${podcast.id})}">
                                    <i class="fas fa-trash-alt"></i> <!-- Delete icon -->
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="mt-3" th:href="@{/}">Back to Home</a>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $("#table").DataTable({
            'aoColumnDefs': [{
                'bSortable': true, // Enable sorting for all columns
                'aTargets': '_all', // Target all columns
            }],
            'order': [], // Disable initial sorting
            'orderCellsTop': true, // Show sorting icons in the header cells
            'language': {
                'paginate': {
                    'next': '<i class="fas fa-chevron-right"></i>', // Next page icon
                    'previous': '<i class="fas fa-chevron-left"></i>' // Previous page icon
                }
            }
        });
    });
</script>
</body>
</html>
