<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">Mental Health Support Network</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <!-- Add messenger icon along with "Messages" link -->
            <li class="nav-item" th:if="${(isUser != null and !#strings.isEmpty(isUser) and isUser)
                     or (isTherapist != null and !#strings.isEmpty(isTherapist) and isTherapist)}">
                <a class="nav-link" th:href="@{/show-user-message-list}">
                    Messages<i class="fab fa-facebook-messenger"></i> <!-- Messenger icon -->
                </a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdown" role="button">
                    User Options
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
                    <!-- Check if isUser or isAdmin or isTherapist is set in model -->
                    <div th:if="${(isUser != null and !#strings.isEmpty(isUser) and isUser)
                                or (isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin)
                                or (isTherapist != null and !#strings.isEmpty(isTherapist) and isTherapist)}">
                        <a class="dropdown-item" th:href="@{/show-profile-page}">Profile</a>
                        <a class="dropdown-item" th:href="@{/}">Change Password</a>
                        <!--TODO: change password by inputting old password and new password twitch-->
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                    <!-- If none of the roles is set, show login and register links -->
                    <div th:unless="${isAdmin != null or isTherapist != null or isUser != null}">
                        <a class="dropdown-item" th:href="@{/show-login-page}">Login</a>
                        <a class="dropdown-item" th:href="@{/show-registration-page}">Register</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>