<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <!-- Add more links as needed -->
        <a class="btn" th:href="@{/show-blog-list}">Blogs</a>
        <a class="btn" th:href="@{/show-podcast-list}">Podcasts</a>
        <button class="btn">Videos</button>
        <button class="btn">Therapists</button>
        <a class="btn" th:href="@{/show-discussion-list}">Group Discussions</a>
        <!-- Add more buttons as needed -->
    </div>
</div>
</body>
</html>