<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <!-- Add more links as needed -->
        <a class="btn" th:href="@{/show-blog-list}">Blogs</a>
        <a class="btn" th:href="@{/show-podcast-list}">Podcasts</a>
        <a class="btn" th:href="@{/show-video-list}">Videos</a>
        <a class="btn" th:href="@{/show-event-list}">Events</a>
        <a class="btn" th:href="@{/show-therapist-list}">Therapists</a>
        <a class="btn" th:href="@{/show-discussion-list}">Group Discussions</a>
        <a class="btn" th:href="@{/show-chat-list}">ChatBot Support</a>
        <a class="btn" th:href="@{/show-not-answered-question-list}"
           th:if="${(isAdmin != null and !#strings.isEmpty(isAdmin) and isAdmin)}">ChatBot Configuration</a>

        <!-- Add more buttons as needed -->
    </div>
</div>
</body>
</html>