/* CSS styles for the chat container */
.chat-container {
    max-width: 700px;
    margin: 0 auto;
}

.chat-box {
    max-height: 500px;
    overflow-y: scroll;
}

.message-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    background-color: #cdd1ce;
}

.user-message {
    font-weight: bold; /* Make the user message text bold */
    background-color: #0c0d0d;
    color: #fff; /* White text color */
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px; /* Create space between user and bot message */
}

.time-stamp {
    margin-left: auto; /* Push the timestamp to the right */
    margin-right: 15px;
    width: 120px; /* Fixed width for the timestamp */
    text-align: right; /* Align the text to the right */
}

.bot-message {
    background-color: #90ee90;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 40px; /* Add indentation to the bot message */
    position: relative; /* Position relative for reply box */
}

.bot-message:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #90ee90; /* Adjust the color to match bot message */
}

/* CSS styles for the input field and send button */
.chat-input-group {
    display: flex; /* Use flexbox for alignment */
}

.user-input {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.send-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px; /* Add some margin between input field and button */
    cursor: pointer;
}

.send-button:hover {
    background-color: #45a049;
}