<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Webpage with Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

    .sidebar {
      background-color: #f8f9fa;
    }
    .sidebar a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #333;
    }
    .sidebar a:hover {
      background-color: #e9ecef;
    }
  </style>
</head>
<body>

<div class="container">
    <div class="row">



                    <div class="col-8">
                        <img src="/BOOTSTRAP/logo.jpeg" alt="Logo">
                    </div>
                    <div class="col-2">
                        <button  class="btn btn-primary mr-2">Register</button>
                    </div>
                    <div class="col-2">
                        <button  class="btn btn-primary">Login</button>
                    </div>


    </div>
    <div class="row">
        <div class="col-3 sidebar">
            <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Podcast</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Discussion Group</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="col-9">

            <p>Main Content Area</p>

        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
