<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage-MHSN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main class="main-content" role="main">
    <div class="container">
        <div class="pt-3">
            <h1>Welcome to Mental Health Support Network</h1>
            <p class="text-justify">This is a website to help individuals facing mental health challenges. The aim is to
                make it easy for people to find support, resources, connect with therapists as well as chatbot support.
                We know that mental health is important, and sometimes it is hard to get the help we need.
                This website aims to change that. This initiative focuses on create a safe space for individuals seeking
                emotional well-being,
                focusing on simplicity, accessibility, and future advancements in mental health care.
                Many people around the world struggle with mental health, but getting help can be tough because of the
                lack of services,
                shyness, or monetary issues. This website was built to break down these barriers.
                It will provide information, tools, and connections to support people in managing their mental health
                and well-being.
                By using a friendly online community, certainly it will reduce the feeling of being alone
                and the grief that often comes with mental health struggles.
                This website is a safe space for people to share their experiences and find the support they need.
                The main goal of this web-based project is to provide a user-friendly platform for individuals to
                connect with mental health resources.
                Users can easily navigate the website, accessing a variety of support, materials and insights.
                The platform draws on a wealth of knowledge to empower users to find resources that align with their
                needs and personal growth objectives.
                This website is like a friend that understands and helps you navigate through tough times.
                It will have features like virtual support groups, self-help tools, event on mental health
                as well as chatbot. Virtual support groups and therapists to connect
                with others going through similar experiences and a chatbot to answer the questions from its user.
                Users can chat with a therapists through this website by paying a amount of money.
                Therapist directories help users find professionals who can provide treatment and support.
                Self-help tools empower users to take control of their mental health with things like articles, blogs,
                podcasts, and videos.</p>
        </div>
    </div>
    <!-- Bootstrap Toast for displaying error message -->
    <div aria-atomic="true" aria-live="assertive" class="toast"
         role="alert" style="position: absolute; top: 0; right: 0; margin-top: 80px; margin-right: 30px;"
         th:if="${error}">
        <div class="toast-header bg-dark">
            <strong class="mr-auto text-white">Error</strong>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-danger text-white" th:text="${error}"></div>
    </div>

    <!-- Bootstrap Toast for displaying success message -->
    <div aria-atomic="true" aria-live="assertive" class="toast"
         role="alert" style="position: absolute; top: 0; right: 0; margin-top: 50px; margin-right: 30px;"
         th:if="${success}">
        <div class="toast-header bg-dark">
            <strong class="mr-auto text-white">Success</strong>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-success text-white" th:text="${success}"></div>
    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.toast').toast({
            autohide: true,
            delay: 5000 // 5 seconds
        }).toast('show');
    });
</script>