<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login-MHSN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area for Login Page -->
<main role="main" class="main-content">
  <div class="container">
    <div class="pt-3">
      <h1>Login to Mental Health Support Network</h1>
      <form method="POST" th:action="@{/login}">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" placeholder="Enter your email" th:name="email" type="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" placeholder="Enter your password" th:name = "password" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p th:if="${error}" th:text="${error}"></p>
    </div>
  </div>
</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>