<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/common-header :: common-header"></div>
<head>
  <title>Change Password-MHSN</title>
</head>
<body>

<!-- Navbar -->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content area -->
<main role="main" class="main-content">
  <div class="container">
    <div class="pt-3">
      <h1>User password change</h1>
      <form th:action="@{/password-change}" method="POST">

        <!-- Old password Password -->
        <div class="form-group">
          <label for="oldPassword">Old Password </label>
          <input class="form-control" id="oldPassword" name = "oldPassword" placeholder="Enter your old password" required type="password" pattern=".{6,}">
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="newPassword">New Password (At least 6 characters)</label>
          <input class="form-control" id="newPassword" name = "newPassword" placeholder="Enter your new password" required type="password" pattern=".{6,}">
        </div>
        <div class="form-group">
          <!-- Confirm Password -->
          <label for="confirmPassword">Confirm Password  (At least 6 characters)</label>
          <input class="form-control" id="confirmPassword" placeholder="Confirm your new password" required type="password" pattern=".{6,}">
          <span id="passwordError" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>


    </div>
  </div>
  <!--  Toast-->
  <div class="toast" style="position: absolute; top: 0; right: 0; margin-top: 80px; margin-right: 30px;" th:if="${error}">
    <div class="toast-header bg-dark">
      <strong class="mr-auto text-white">Error</strong>
      <button class="ml-2 mb-1 close" data-dismiss="toast" type="button">&times;</button>
    </div>
    <div class="toast-body bg-danger text-white" th:text="${error}"></div>
  </div>

</main>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/common-scripts :: common-scripts"></div>
<script>
  $(document).ready(function () {
      // Script to activate Bootstrap Toast
      $('.toast').toast({
          autohide: true,
          delay: 5000, // 5 seconds
          animation: true,
          position: 'top-end'
      }).toast('show');

      // Add an event listener to the form on submission
      $("form").submit(function (event) {
          // Get the values of the password and confirmPassword fields
          var newPassword = $("#newPassword").val();
          var confirmPassword = $("#confirmPassword").val();

          // Check if the passwords match and are at least 6 characters long
          if (newPassword !== confirmPassword) {
              // Display an error message
              $("#passwordError").text("Passwords do not match");
              event.preventDefault(); // Prevent form submission
          } else if (oldPassword.length < 6 || newPassword.length < 6 || confirmPassword.length < 6 ) {
              // Display an error message
              $("#passwordError").text("Password must be at least 6 characters");
              event.preventDefault(); // Prevent form submission
          } else {
              // Clear any previous error messages
              $("#passwordError").text("");
          }
      });
  });
</script>

</body>
</html>